doctype html
head
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/canvasjs.min.js')
  script(type='text/javascript').
    window.onload = function () {
    var dataPoints = [];
    var chart = new CanvasJS.Chart("chartContainer",{
    title:{
    text:"Hello I am your Canvas girl here, kiss me Love You Sweet ^^"
    },
    data: [{
    type: "line",
    dataPoints : dataPoints,
    }]
    });
    $.getJSON("http://localhost:8081/api/tutorials", function(data) {
    $.each(data, function(key, value){
    console.log(value.ttimestamps)
    console.log(value.SPN1761)
    dataPoints.push({x: value.ttimestamps, y: parseInt(value.SPN1761)});
    dataPoints.push({x: value[0], y: parseInt(value[1])});


    });
    chart.render();
 
    console.log(data);

    });
    }
#chartContainer(style='height: 300px; width: 100%;')